
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e1dbdb;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-form {
    flex: 3; /* 80% width */
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    flex: 2; 
    padding: 20px;
    background-color: #007BFF;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input{
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
textarea {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    height: 10rem ;
}


/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .contact-form, .contact-info {
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .form-group input, .form-group textarea {
        font-size: 14px;
    }

    .btn {
        width: 100%;
        font-size: 16px;
    }

    .contact-info ul li {
        font-size: 14px;
    }
}